.filter-div{
    border-top: 1px solid var(--grey);
    padding:1rem 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    top: 0;
    background-color: var(--white);
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}
.filter-div::-webkit-scrollbar {
    /* width: 20px; */
    height: 20px;
    border-radius: 25px;
  }
  .filter-div::-webkit-scrollbar-track {
    background: linear-gradient(171deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .filter-div::-webkit-scrollbar-thumb {
    
    background: cornsilk;
    border-radius: 20px;
    background-clip: padding-box;
  }



.links-box{
display: flex;
flex-direction: column;
justify-content: center;
margin-right:3rem;
align-items: center;
opacity: 0.5;
border-bottom: 1px solid white;

min-width: 85px;
scrollbar-color: rebeccapurple green;
scrollbar-width: thin;
}

.selected-filter{
   opacity: 1;
   border-bottom: 1px solid var(--dark);
   transition: all 0.3s;
   cursor: pointer;


}
.links-label{
    font-size: 0.8rem;
    color: var(--dark);
    font-weight: 600;
}
.links-img{
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
  
}
.selected-label{
color:var(--black);
}